{% extends "base.html" %}

{% block content %}
<h2>Aufteilung nach Kostenstellen</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Kostenstelle</th>
        <th scope="col">MwSt</th>
        <th scope="col">Summe (Netto)</th>
        <th scope="col">davon MwSt-befreit</th>
    </tr>
    </thead>
    <tbody>
    {% for i in sums %}
    <tr>
        <th scope="row">{{i.cost_centre_name}}</th>
        <td>{{i.vat}}%</td>
        <td>{{i.sum_net}}&euro;</td>
        <td>{{i.sum_vat_exempted}}&euro;</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
