<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>berechenbarkeit</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <script src="/assets/htmx-1.9.11.min.js" defer></script>
    <script src="/assets/bootstrap/bootstrap.bundle.min.js" defer></script>
    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body data-bs-theme="dark">
{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">berechenbarkeit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/invoices">Rechnungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/summary">Abrechnung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cost_centres">Kostenstellen</a>
                </li>
            </ul>
            <form class="d-flex" id="form-upload" method="post" action="/invoice/upload" enctype="multipart/form-data">
                <input class="form-control" name="file" type="file" id="form-upload-input">
            </form>
        </div>
    </div>
</nav>
{% endblock nav %}

<div class="container p-4">
    {% block content %}

    {% endblock content %}
</div>


{% block extra_js %}
{% endblock extra_js %}
<script>
  document.getElementById("form-upload-input").onchange = function () {
    document.getElementById("form-upload").submit();
  };
</script>
</body>
</html>

